.brand {
    text-align: center;
    padding: 85px 0;

    .brand__a {
        display: inline-block;
        text-align: center;
        margin-right: 45px;

        &:last-child {
            margin: 0;
        }
    }

    .brand__img {
        display: block;
    }
}
