.f-contact {
    float: left;

    .f-contact__item {
        line-height: 16px;
        margin: 0;
        display: inline-block;
    }

    .f-contact__item.f-contact__item_location {
        background: transparent url("../images/ico/location.png") no-repeat scroll 0 50%;

        padding-left: 24px;
        padding-right: 35px;
    }

    .f-contact__item.f-contact__item_phone {
        background: transparent url("../images/ico/phone.png") no-repeat scroll 0 50%;
        padding-left: 20px;
        padding-right: 40px;
    }

    .f-contact__item.f-contact__item_email {
        background: transparent url("../images/ico/email.png") no-repeat scroll 0 50%;
        padding-left: 26px;
    }
}
