.logo {
    float: left;
    height: 37px;

    .logo__a {
        background: url("../images/logo.png");
        width: 205px;
        height: 37px;
        display: block;
        margin: 3px 0 0 4px;
  }
}

